/* Styling the tool-working-part */
.tool-working-part {
    display: flex;
    gap: 20px;
    background-color: #1a1a1a;
    border: 1px solid var(--main-green);
    border-radius: 8px;
    padding: 20px;
    color: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Styling the form */
.tool-working-part form {
    flex: 1;
}

.tool-working-part .form-group {
    margin-bottom: 15px;
}

.tool-working-part label {
    display: block;
    color: var(--main-green);
    margin-bottom: 5px;
}

.tool-working-part input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-green);
    border-radius: 5px;
    background-color: #2c2c2c;
    color: white;
}

.tool-working-part button {
    background-color: var(--main-green);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.tool-working-part .summary-result {
    flex: 1;
    background-color: #2c2c2c;
    border-radius: 8px;
    padding: 15px;
}

.tool-working-part .summary-result h3 {
    color: var(--main-green);
}

.tool-working-part .summary-result ul {
    list-style: none;
    padding: 0;
}

.tool-working-part .summary-result li {
    margin: 5px 0;
    color: white;
}


@media (max-width:768px) {
    .tool-main {
        width: 100%;
    }
}

@media (max-width:600px) {
    .tool-working-part {
        flex-direction: column;
    }
}