* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --border-color: #c23fbf;
    --main-gradient:  linear-gradient(90deg, rgba(147, 58, 207, 1) 0%, rgba(162, 64, 205, 1) 45%, rgba(245, 62, 170, 1) 100%);
    --main-purple: #3b0d77;
    --main-green: #c9f31d;
}

a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.spl-color{
    color: #6f1e9e;
}

/* All Buttons */

.all-btns {
    outline: none;
    border: none;
    padding: 10px 20px;
    max-width: fit-content;
    border-radius: 300px;
    color: white !important;
    background: linear-gradient(90deg, rgba(147, 58, 207, 1) 0%, rgba(162, 64, 205, 1) 45%, rgba(245, 62, 170, 1) 100%);
    transition: 0.3s;
    transform: scale(1);
    position: relative;
}

.all-btns:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.all-btns a {
    color: white;
}

/* Nabvar Start */

.nav-outer{
    background-color: black;
    color: white;
    
}

.navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
}

.navbar-logo img{
   width: max(3vw, 150px);
}

.navbar-links{
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.navbar-links li a{
    color: white;
    transition: 0.3s;
    position: relative;
    bottom: 0;
}

.navbar-links li:hover a{
    /* font-weight: 700; */
    color: var(--main-green);
    bottom: 4px;
}

.hamburger{
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background-color: white;
    border-radius: 4px;
}

.login-btn{
    background-color: var(--main-green);
    color: black !important;
    border-radius: 100px;
    padding: 10px 20px;
}

/* Mobile View (under 768px) */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px; 
        left: 0;
        background-color: white;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .navbar-links.active {
        display: flex; 
    }

    .hamburger {
        display: flex; 
    }

    .navbar{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .navbar-links li a {
        padding: 15px 20px;
        color: black;
        font-weight: 400;
        transition: 0.3s;
    }

    .navbar-links li a:hover {
        font-weight: 700;
        color: #993cce;
    }
}

/* Nabvar End */

/* Hero Start */

.hero2-section{
    background-image: url("../images/hero2/hero2-back.jpg");
    }
    
    .stt{
        color: #c9f31d;
    }
    
    .hero2-inner{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 3000px;
        width: 80vw;
        margin: 0 auto;
        padding: 40px 0 70px;
        gap: 20px;
    }
    
    .hero2-text h1{
        color: white;
        font-size: max(5vw, 30px);
        margin-bottom: 20px;
    }
    
    .hero2-text p{
        color: rgb(180, 180, 180);
        margin-bottom: 30px;
    }
    
    .hero2-text button{
        background-color: #c9f31d;
        padding: 12px 20px ;
        border-radius: 300px ;
        border: none;
        outline: none;
        position: relative;
        bottom: 0;
        transition: 0.3s;
        font-weight: 400;
    }
    
    .hero2-text button:hover{
        bottom: 5px;
        font-weight: 700;
    }
    
    .hero2-img{
        width: max(30vw, 300px);
        position: relative;
        scale: 1;
        transition: 0.4s;
    }
    
    .hero2-img:hover{
        scale: 1.1;
    }

    @media (max-width: 768px) {
        .hero2-inner{
            flex-direction: column;
            text-align: center;
            gap: 50px;
        }
    }

/* Hero End */

/* Tools Section Start */
.tools-section {
    margin: 40px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.tools-section h1 {
    font-size: max(4.5vw, 30px);
    margin-bottom: 2%0px;
    text-align: center;
}

.tools-cont {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 17rem;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    transition: 0.3s;
    border: 1.5px solid black !important;
}

.card:hover {
    border-color: var(--border-color) !important;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.card-img-top {
    max-width: 150px;
}

.tools-card-btn {
    padding: 5px 20px !important;
}

/* Tools Section End */


/* About Section Start */
.about-section {
    margin: 60px auto;
    width: 80vw !important;
text-align: justify;
}

.about-section h1 {
    text-align: center;
    font-size: max(4vw, 30px);
}

.about-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-text {
    width: 60%;
}

.about-img img {
    width: max(30vw, 350px);
}

/* About Section End */

/* AI Section Start */
.ai-section{
    display: flex;
    gap: 30px;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.ai-section h1{
    font-size: max(3.5vw, 30px);
    color: #6f1e9e;
}

.span-logo img{
    width: 170px;
}

.ai-image img{
    width: max(30vw, 250px);
}
/* AI Section End */

/* Footer Start */
footer {
    background: linear-gradient(90deg, rgba(147, 58, 207, 1) 0%, rgba(162, 64, 205, 1) 45%, rgba(245, 62, 170, 1) 100%);
    color: white;
    padding: 30px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin: 5px 0;
    font-size: 1rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-links ul {
        margin-bottom: 20px;
    }

    .footer-links li {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {
    .footer-logo h1 {
        font-size: 1.2rem;
    }

    .footer-links li {
        font-size: 1rem;
    }
}

/* Footer End */


/* Media Queries for Mobile */
@media (max-width: 700px) {
    .about-cont {
        flex-direction: column;
        gap: 0px;
    }

    .about-text {
        width: 100%;
    }

    .about-section h1 {
        margin-bottom: 20px;
    }

    .ai-section{
       flex-direction: column;
       gap: 10px;
    }
    
    .ai-section h1{
      text-align: center;
      line-height: 50px;
      margin-bottom: 30px;
    }
    
    .span-logo img{
        width: 130px;
    }
    
    .ai-p{
        font-size: 15px;
    }
}


