* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

:root {
    --border-color: #c23fbf;
    --main-gradient: linear-gradient(90deg, rgba(147, 58, 207, 1) 0%, rgba(162, 64, 205, 1) 45%, rgba(245, 62, 170, 1) 100%);
    --main-purple: #3b0d77;
    --main-green: #c9f31d;
    --background-color: black;
    --font-family: "Outfit", sans-serif;
}

::selection {
    background-color: var(--main-green);
    color: black;
}

::-moz-selection {
    background-color: var(--main-green);
    color: black;
}


a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.stt {
    color: var(--main-green);
}

/* All Buttons */

.all-btns {
    outline: none;
    border: none;
    padding: 10px 20px;
    margin-top: 8px;
    max-width: fit-content;
    border-radius: 300px;
    transition: 0.3s;
    transform: scale(1);
    position: relative;
    background-color: var(--main-green);
}

.all-btns:hover {
    transform: scale(1.08);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.all-btns a {
    color: black;
}

.line-btns {
    outline: none;
    border: 1px solid var(--main-green);
    color: var(--main-green);
    padding: 10px 20px;
    margin-top: 8px;
    max-width: fit-content;
    border-radius: 300px;
    transition: 0.3s;
    transform: scale(1);
    position: relative;
    background-color: black;
}

.line-btns:hover {
    transform: scale(1.08);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

/*  Video Hero Start  */
/* Outer Section */
.video-outer-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    padding-bottom: 50px;
    background-color: black;
}

/* Video Container */
.video-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Video Styling */
.video-div video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay Div */
.vignette-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1),
            /* Darker top edge */
            rgba(0, 0, 0, 0.3) 20%,
            /* Transparent middle */
            rgba(0, 0, 0, 0.3) 70%,
            /* Transparent middle */
            rgba(0, 0, 0, 1)
            /* Darker bottom edge */
        );
}

.video-hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 200px;
    color: white;
    text-align: center;
    z-index: 2;
}

.video-hero-content h1 {
    font-size: max(5.9vw, 50px);
    font-weight: 700;
    margin-bottom: 5px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.5);
}

.video-hero-content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0px auto;
    color: rgb(235, 235, 235);
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.9);
}

.video-hero-content a {
    margin-top: 10px;
}

.video-btns {
    display: flex;
    gap: 20px;
}

@media (max-width: 1000px) {
    .video-hero-content {
        padding: 40px;
    }
}

@media (max-width: 500px) {
    .video-btns {
        gap: 5px;
        flex-direction: column;
    }

    .video-outer-container {
        height: 80vh;
        padding-bottom: 20px;
    }
}

/* Video Hero End */


/* <!-- What we offer  --> */

.what-we-offer-outer {
    background-color: black;
    color: white;
}

.what-we-offer-inner {
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    padding: 100px 0px 50px;
}

.wwo-heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: 90%;
    gap: 20px;
}

.wwo-heading h2 {
    font-size: max(4.5vw, 45px);
    text-align: left;
    margin: 0;
}

.wwo-heading img {
    width: 4rem;
}

.wwo-cards-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.wwo-card {
    border: 1px solid gainsboro;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    transition: 0.4s;
    background-color: #1f1f1f;
    position: relative;
    bottom: 0;
    min-width: 300px;
    cursor: pointer;
}

.wwo-card:hover {
    border-color: var(--main-green);
    background-color: black;
    bottom: 5px;
}

.wwo-card img {
    width: 80px;
    margin-bottom: 10px;
}

.wwo-card h3 {
    transition: 0.4s;
}

.wwo-card:hover h3 {
    color: var(--main-green);
}

.wwo-card p {
    color: rgb(196, 196, 196);
    transition: 0.4s;
}

.wwo-card:hover p {
    color: white;
}

.wwo-btns {
    margin-top: 70px;
}


.animated-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: max(2vw, 18px);
    color: #fff;
    background: black;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
    transition: 0.4s;
    transform: scale(1);
}

.animated-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #c9f31d, black, #c9f31d, black);
    background-size: 400%;
    border-radius: 5px;
    z-index: -1;
    animation: borderAnimation 14s linear infinite;
    opacity: 0.9;
    padding: 2px;
    box-sizing: border-box;
}

.animated-button:hover::before {
    opacity: 1;
}

.animated-button::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: black;
    border-radius: 4px;
    z-index: -1;
}


.animated-button:hover {
    transform: scale(1.08);
    box-shadow: rgba(34, 255, 5, 0.25) 0px 13px 27px -5px, rgba(120, 196, 50, 0.3) 0px 8px 16px -8px;
}


@keyframes borderAnimation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}


@media (max-width: 500px) {

    .what-we-offer-inner {
        padding: 50px 0px;
    }

    .wwo-card {
        width: 90%;
    }

    .wwo-heading {
        justify-content: center;
        gap: 7px;
    }

    .wwo-heading h2 {
        font-size: 30px;
        text-align: left;
    }

    .wwo-heading img {
        width: 40px;
    }

    .wwo-btns {
        padding: 0px 50px;
    }

}

/* <!-- What we offer  --> */


.gradient-outer {
    background-image: url("../images/hero2/hero2-back7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.gradient-vignette {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1),
            /* Darker top edge */
            rgba(0, 0, 0, 0.5) 40%,
            /* Transparent middle */
            rgba(0, 0, 0, 0.5) 40%,
            /* Transparent middle */
            rgba(0, 0, 0, 1)
            /* Darker bottom edge */
        );
}

/* Hero Start */

.hero2-section {
    background-color: transparent;
}

.hero2-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 3000px;
    width: 80vw;
    margin: 0 auto;
    padding: 40px 0 70px;
    gap: 20px;
}

.hero2-text h1 {
    color: white;
    font-size: max(5vw, 30px);
    margin-bottom: 20px;
}

.hero2-text p {
    color: rgb(180, 180, 180);
    margin-bottom: 30px;
}

.hero2-text a {
    background-color: #c9f31d;
    padding: 12px 20px;
    border-radius: 300px;
    border: none;
    outline: none;
    position: relative;
    bottom: 0;
    transition: 0.3s;
    font-weight: 400;
    color: black;
}

.hero2-text a:hover {
    bottom: 5px;
    font-weight: 700;
}

.hero2-img {
    width: max(30vw, 300px);
    position: relative;
    scale: 1;
    transition: 0.4s;
}

.hero2-img:hover {
    scale: 1.1;
}

@media (max-width: 768px) {
    .hero2-inner {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
}

/* Hero End */

/* Tools 2 Start */
.tools2-outer {
    padding: 60px 0 80px;
}

.tools2-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    text-align: center;
}

.tools2-heading h2 {
    font-size: max(5vw, 30px);
}

.tools2-heading p {
    margin-bottom: 50px;
    font-size: max(1.4vw, 15px);
    color: rgb(202, 202, 202);
}

.tools2-cards-cont {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 2000vw;
    margin: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.tools2-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 20rem; */
    padding: 20px 40px;
    border-radius: 20px;
    position: relative;
    bottom: 0;
    transition: 0.3s;
    border: 1.5px solid rgb(95, 95, 95) !important;
}

.tools2-card:hover {
    border-color: var(--main-green) !important;
    bottom: 10px;
    background-color: black;
}

.tools2-card:hover h4 {
    color: var(--main-green);
}

.tools2-card-img {
    max-width: 230px;
    border-radius: 18px;
    margin-bottom: 15px;
}

.tools2-card-body {
    min-height: 340px;
}

.tools2-card-body h4 {
    margin-bottom: 10px;
}

.tools2-card-body h4 a {
    text-align: left;
    transition: 0.3s;
    color: var(--main-green);
}

.tools2-card-body h2 {
    line-height: 16px;
    text-align: left;
    font-weight: 400;
}

.tools2-card-body h2 a {
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

.tools2-card-body h2 a:hover {
    color: var(--main-green);
    font-weight: 600;
}

.tools2-card-btn {
    opacity: 0.8 !important;
    padding: 10px 40px !important;
    margin-top: 20px;
}

.tools2-card-btn:hover {
    opacity: 1 !important;
}

@media (max-width: 700px) {
    .tools2-card-body {
        min-height: fit-content;
    }

    .tools2-heading {
        padding: 0px 20px;
    }
}

/* Tools 2 End */

/* About Section Start */
.about-section-outer {
    background-color: black;
}

.about-section {
    margin: 0 auto;
    width: 80vw !important;
    text-align: justify;
    background-color: black;
    padding: 60px 0;
    color: white;
}

.about-section h2 {
    text-align: center;
    font-size: max(4vw, 30px);
    color: var(--main-green);
}

.about-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-text {
    width: 60%;
}

.about-img img {
    width: max(30vw, 350px);
}

/* About Section End */

/* AI Section Start */

.ai-section-outer {
    background-color: black;
}

.ai-section {
    display: flex;
    gap: 30px;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 60px 0;
    color: white;
}

.ai-section h2 {
    font-size: max(3.5vw, 30px);
}

.span-logo img {
    width: 220px;
}

.ai-image img {
    width: max(30vw, 250px);
}

/* AI Section End */

/* Media Queries for Mobile */
@media (max-width: 700px) {
    .about-cont {
        flex-direction: column;
        gap: 0px;
    }

    .about-text {
        width: 100%;
    }

    .about-section h1 {
        margin-bottom: 20px;
    }

    .ai-section {
        flex-direction: column;
        gap: 10px;
    }

    .ai-section h1 {
        text-align: center;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .span-logo img {
        width: 130px;
    }

    .ai-p {
        font-size: 15px;
    }
}


/* Tools Section Start */
.blog-section {
    margin: 40px 0 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.blog-section .blog-heading h2 {
    font-size: max(4.5vw, 45px);
    text-align: center;
    color: white;
}

.blog-section .blog-heading p {
    font-size: max(1.2vw, 14px);
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 60%;
    color: rgb(186, 186, 186);
}

.blog-cont {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.blog-section .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    min-width: 12rem;
    max-width: 22rem;
    padding: 20px;
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    transition: 0.3s;
    border: 1.5px solid rgb(98, 97, 97) !important;
    text-align: justify;
}

.blog-section .card:hover {
    border-color: var(--main-green) !important;
    bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.blog-section .card-img-top {
    width: 100%;
    border-radius: 6px;
}

.blog-section .tools-card-btn {
    padding: 5px 20px !important;
    border-radius: 2px !important;
}

.card-title {
    text-align: left;
    font-size: max(1.2vw, 18px);
}

.card-text {
    font-size: max(1.1vw, 14px);
    color: rgb(186, 186, 186);
    margin-bottom: 5px;
    min-height: 90px;
}

.blog-cont .card-body {
    padding: 0;
    padding-top: 15px;
}

@media (max-width: 768px) {
    .blog-section .card {
        width: 45%;
    }
}

@media (max-width: 500px) {
    .blog-section .card {
        width: 95%;
    }

    .blog-section .blog-heading p {
        width: 90%;
    }

    .card-text {
        min-height: fit-content;
        height: fit-content;
    }

}

/* Tools Section End */


/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c8f31d50;
    border-radius: 100px;
    cursor: pointer;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-green);
    /* background: var(--main-green); */

}

@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        display: none;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        display: none;
    }
}