ol {
    padding-left: 10px !important;
    margin-left: 10px !important;
}

.blog-page-outer-container {
    width: 100%;
    background-color: black;
    color: white;
}

.blog-page-inner-container {
    margin: auto;
    max-width: 1400px;
    width: 90%;
}

.blog-actual-content {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

/* left part */

.blog-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
    position: relative;
}

.blog-left-img {
    flex: 1;
    margin-bottom: 10px;
}

.blog-left img {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
}

.blog-heading {
    font-size: 40px;
    margin-bottom: 5px;
}

.blog-para-cont {
    border-top: 1px solid var(--main-green);
    padding-top: 20px;
}

.blog-para-heading {
    transition: 0.3s;

}

.blog-para-cont:hover .blog-para-heading {
    font-weight: 600;
    color: var(--main-green);
}

.blog-content-list {
    margin-top: 20px;
}

.blog-content-list li h5 {
    margin-bottom: 2px;
}

.blog-text {
    text-align: justify;
    color: rgb(232, 232, 232);
    transition: 0.3s;
}

.blog-para-cont:hover .blog-text {
    color: rgb(237, 237, 237);
}

/* blog right */

.blog-right {
    width: 80%;
    border-left: 1px solid rgb(119, 119, 119);
    padding: 15px;
    padding-left: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 300px;
}

.blog-right-cards-cont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: sticky;
    top: 20px;
}

.blog-right-heading>h3 {
    text-align: center;
    color: var(--main-green);
    margin-bottom: 5px;
}

.blog-right-heading>p {
    text-align: center;
    color: rgb(219, 219, 219);
}

.ai-tools-cont {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;
}

.ai-tools-cont>a {
    color: rgb(189, 189, 189);
    width: 45%;
    border: 1px solid rgb(119, 119, 119);
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    justify-content: center;
    gap: 10px;
    padding: 7px 4px;
    transition: 0.3s;
}

.ai-tools-cont>a img {
    width: 50px;
}

.ai-tools-cont>a:hover {
    color: white;
    border-color: var(--main-green);
}


.many-more {
    margin-top: 10px;
    text-align: center;
    color: var(--main-green);
}

@media (max-width: 1000px) {
    .blog-left {
        height: fit-content;
        padding-right: 0px;
        overflow: hidden;
    }

    .blog-right {
        width: 100%;
        padding-left: 15px;
        border-left: 0;
    }

    .blog-right-card {
        max-width: 30%;
    }

    .blog-actual-content {
        flex-direction: column;
    }

    .blog-right-cards-cont {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }

    .ai-tools-cont>a {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .blog-right-card .card {
        width: 45%;
    }

    .blog-heading {
        font-size: 30px;
    }

    .blog-right-card {
        max-width: 45%;
    }
}

@media (max-width: 550px) {
    .ai-tools-cont>a {
        width: 30%;
    }
}

@media (max-width: 500px) {
    .blog-right-card {
        max-width: 95%;
    }

    .blog-heading {
        font-size: 25px;
    }

    .blog-right-card .card {
        width: 95%;
    }

    .blog-right-card .blog-heading p {
        width: 90%;
    }

    .blog-right-card .card-text {
        min-height: fit-content;
        height: fit-content;
    }

}

@media (max-width: 450px) {
    .ai-tools-cont>a {
        width: 45%;
    }

    .related-blogs-cont {
        margin: 40px 0;
    }
}


/* related blogs */

.related-blogs-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.related-blogs-heading {
    font-size: max(3.5vw, 25px);
    text-align: center;
    color: var(--main-green);
    margin-bottom: 1rem;
}

.related-blogs-cards-cont {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.related-blogs-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    min-width: 270px;
    max-width: 22rem;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    transition: 0.3s;
    padding: 20px;
    border-radius: 5px;
    border: 1.5px solid rgb(98, 97, 97) !important;
    text-align: justify;
    cursor: pointer;
}

.related-blogs-card:hover {
    border-color: var(--main-green) !important;
}

.related-blogs-card .card-img-top {
    width: 100%;
    border-radius: 6px;
}

.related-blogs-card .tools-card-btn {
    padding: 5px 20px !important;
    border-radius: 2px !important;
}

.related-blogs-card .card-title {
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}

.related-blogs-card .card-text {
    font-size: 16px;
    color: rgb(186, 186, 186);
    margin-bottom: 5px;
}

.related-blogs-card .card-body {
    padding: 0;
    padding-top: 15px;
}


@media (max-width: 600px) {
    .related-blogs-cards-cont {
        gap: 1rem;
    }

    .related-blogs-card {
        min-width: auto;
        width: 90%;
        max-width: 100%;
    }

    .related-blogs-card .card-text {
        font-size: 14px;
        margin-bottom: 10px;
    }

}


@media (max-width: 450px) {
    .related-blogs-cont {
        margin: 40px 0;
    }
}